.navbar
{
    display:flex;
    justify-content: space-around;
    background-color: brown;
    border-radius: .3rem;
    padding-top: .7rem;
    padding-bottom: .7rem;

    

}

.navbar li{
    list-style: none;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-weight: 700;


}

.navbar li:hover{
    cursor: pointer;
    font-size: 1.2rem;
    transition: .3s;

}